@import '../vars';

.header{
background-color: $cream-color;


    &__inner{
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav{
        order: -1;

    }

    // &__logo{
    // }

    &__submenu{
        display: none;
    }
}